.musicLyrics {
  pointer-events: none;
  margin-top: 10%;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: cornflowerblue;
  cursor: pointer;
  vertical-align: top;
  margin-left: 5px;
  width: 150px;
  border-radius: 4%;
}

button:hover {
  opacity: 50%;
}

.musicSearch {
  text-align: center;
  margin-top: 10%;
}

input {
  height: 37.34px;
  vertical-align: top;
  font-size: 25px;
  border-radius: 4%;
}

form {
  vertical-align: top;
}

#fontIcon {
  padding: 5px;
}